<% provide(:title, 'Help') %>
<h1>Lunch Box Help</h1>
<ul>
  <li>Login first, this app is for authenticated users only.</li>
  <li>Select items from the menu to place the order.</li>
  <li>Please order within your credit amount.</li>
  <li>Order will be placed to your desk (Work palce), dont worry even you are not available at desk at the time of delivery, food will be kept at your desk.  </li>
</ul>

<h1> Payment </h1>
<ul> 
  <li>Your order amount will be deducted from the credit money.</li>
  <li>Incase credit amount is insufficient, update your credit by transferring amount to the admin. </li>
  <li>If you are paying by Cash On Delivery mode, please pay the amount at the time of delivery.</li>
</ul>